# Gradle
.gradle/
build/
**/build/
**/captures/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# Local configuration files
local.properties
keystore.properties

# Android
*.apk
*.ap_ 
*.aab
*.hprof

# MacOS
.DS_Store

# Kotlin
*.kotlin_metadata

# Misc
*.log
